/* VARIABLES */

// Colors

$black: #000;
$lBlack: #292929;
$yellowAr:#f1f400;
$grayAr:#eeeeee;
$white: #FFF;

$txtGray: #dfdfdf; 

// Global Font
$fontFamily:'OpenSans-Regular', arial, sans-serif;
$baseFont: 16;

// Modal
$bgModal: $black;
$maxWModal: 500px;
$minHModal: 400px;