.v-carousel {
    &__item {
        min-height: 550px;
    }

    &__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

    &__content {
        width: 100%;
        max-width: 1060px;
        height: 100%;
        margin: auto;
        padding: 0 15px;
    }

    &__leftCol {
        width: 50%;
        max-width: 480px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $white;

        @media #{$mediaSM} {
            width: 100%;
            // max-width: unset;
        }
        @media #{$mediaXMobile} {
            width: 100%;
            max-width: unset;
        }
    }

    &__head {
        & span {
            font-size: 50px;
            @media #{$mediaMobile} {
                font-size: 40px;
            }
            @media #{$mediaXMobile} {
                font-size: 35px;
            }
        }
    }

    &__description {
        padding: 30px 0;
        font-size: 18px;
        @media #{$mediaMobile} {
            font-size: 16px;
        }
    }

    &__cta {
        width: 100%;
        margin-top: 5px;

        @media #{$mediaXMobile} {
            text-align: center;
        }
    }

    &__controls {
        justify-content: flex-end !important;
    }

    & .v-responsive__sizer {
        padding-top: 5%;
        padding-bottom: 33.52% !important;
    }
}