.contain {
    width: 100%;
    &--general {
        background: $black;
        overflow: hidden;
    }
    &--limit {
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
    }
    &--row{
        width: 100%;
        @include flex(flex-start);
        margin-top: 15px;
        padding: 0 7px;
    }
}